@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f7f7f7;
    color: #333;
    line-height: 1.7;
    font-size: 18px;
}

.container {
    max-width: 960px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background: #333;
    border-radius: 8px 8px 0 0;
}

header h1 {
    color: #fff;
    font-size: 3rem;
    margin: 0;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #555;
    padding: 0;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 10px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1.1rem;
}

nav ul li {
    float: left;
    padding: 0;
    margin: 0 5px;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

.nav-clearfix::after {
    content: "";
    display: table;
    clear: both;
}

section {
    padding: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid #eaeaea;
}

section h2 {
    color: #333;
    font-size: 2rem;
    margin-top: 0;
}

section p, section ul {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

section ul {
    list-style-position: inside;
}

section a {
    color: #5D93E1;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

section a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 6px;
}

::-webkit-scrollbar-corner {
    background: #f1f1f1; 
}

.right-aligned-img {
    float: right;
    margin-left: 20px;
    width: 300px;
    height: auto;
}

.about-title {
    display: flex;
    align-items: center;
}

.header-avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 15px;
}

.about-title span {
    font-size: 2rem;
}
