/* @media only screen and (max-width: 600px) {
    .title {
        font-size: 48px;
    }
    img {
        width: 80%;
        height: auto;
    }

    #signin-container {
        width: 90%;
        margin: auto;
        padding: 20px;
    }

    .g_id_signin {
        width: 100%;
    }
} */